<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>
<div class="container">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">
                            대시보드
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/message">
                            메세지
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myPage">
                            마이페이지
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="text-center col-md-10">
            <h1><span th:text="${username}" class="alert alert-danger"/></h1>
            <br>
            <h3 th:text="${exception}"></h3>
        </div>
    </div>



</div>
</body>
</html>
