<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/head :: adminHead"></head>
<body>

<div th:replace="layout/top::header"></div>

<div id="maininner">
    <div class="cc-tab-con">
        <a href="javascript:tabChange('1');" class="cc-tab-item">사용자관리</a>
        <a href="javascript:tabChange('2')" class="cc-tab-item">권한관리</a>
        <a href="javascript:void(0);" class="cc-tab-item on">리소스관리</a>
    </div>
    <div class="tbl_wrp">
        <table class="table">
            <thead>
            <tr class="table-info">
                <th scope="col">리소스명</th>
                <th scope="col">리소스타입</th>
                <th scope="col">HttpMethod</th>
                <th scope="col">권한</th>
                <th scope="col">순서</th>
            </tr>
            </thead>
            <tbody>
            <tr class="link_btn hover" th:each="res : ${res}">

                <td style="text-align: left;">
                    <a th:href="@{'/admin/resources/' + ${res.id}}"><span th:text="${res.resourceName}">회원</span></a>
                </td>
                <td style="text-align: left;" th:text="${res.resourceType}"></td>
                <td style="text-align: left;" th:text="${res.httpMethod}"></td>
                <td style="text-align: left;" th:text="${res.roleSet[0].roleName}"></td>
                <td style="text-align: left;" th:text="${res.orderNum}"></td>
            </tr>
            </tbody>
        </table>
        <div style="text-align:right;">
            <p><a class="btn btn-dark btn-lg" style="margin:10;" th:href="@{/admin/resources/create}">리소드 등록</a></p>
        </div>
    </div>
</div>
</body>
</html>